@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --text-color: #f5f5f5; /* Main text color (light gray) */
  --hover-color: #12f7ff; /* Color used on hover effects (bright cyan) */
  --bg-color: #250821; /* Background color (dark purple) */
  --secon-bg-color: #292e33; /* Secondary background color (dark gray) */
  --big-font: 2.5rem; /* Font size for large headings */
  --normal-font: 2rem; /* Font size for normal text */
  --neon-box-shadow: 0 0 0.5rem #12f7ff; /* Neon-style glow shadow */
  --h2-font: 3rem; /* Font size for H2 headers */
  --font-neon-text-shadow:                    /* Neon glowing text shadow effect */ 0
      0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3), 0 0 50px rgba(18, 247, 255, 0.3),
    0 0 60px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3);
}

/* Scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  height: 0;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--secon-bg-color); /* Track background */
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color); /* Scrollbar handle */
  border-radius: 0.5rem;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10%;
  background: var(--bg-color);
  border-bottom: 1px solid var(--secon-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  color: var(--hover-color);
}

.navlist {
  display: flex;
}
.navlist a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
  animation: slideanimation 1s ease forwords;
  animation-delay: calc(0.3s var(--i));
}

.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 50px rgba(18, 247, 255, 0.6),
    0 0 60px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 1001;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}

section {
  padding: 100px 10%;
}

.home {
  min-height: 50vh; /* Viewport ki full height lega */
  height: 100%;
  width: 100%;
  display: grid; /* Grid layout activate */
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns banenge */
  align-items: center; /* Vertically center karega content ko */
  grid-gap: 4em; /* Columns ke beech ka gap */
}

.home-content {
  max-width: 600px; /* Content ki max width ko limit kar diya */
}

.home-content h1 {
  font-size: var(--big-font);
  font-weight: 700;
}

.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.home-content p {
  color: #bdbdbd;
  line-height: 1.5;
  text-align: justify;
}
.info-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 1rem 0 2rem;
}
.info-box h5 {
  font-weight: 600;
  columns: var(--text-color);
  font-size: 1rem;
}
.info-box span {
  font-size: 0.9rem;
  color: #bdbdbd;
  margin-right: 20px;
}
.btn-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;
}
.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--hover-color);
  color: var(--bg-color);
  font-style: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--hover-color);
}
.btn:hover {
  color: var(--hover-color);
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}
.btn:hover::before {
  width: 100%;
}
.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.social-icons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 40px;
}

.social-icons a {
  display: inline-flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.6s;
  box-shadow: 0 0 0.3rem #12f7ff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social-icons a i {
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: var(--bg-color);
}

.social-icons a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--hover-color);
  transition: 0.65s;
  z-index: -1;
}

.social-icons a:hover::before {
  width: 100%;
}

.home-image {
  position: relative;
}
.img-box {
  text-align: center;
}
.img-box img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.liquid-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 10%;
}
.liquid-shape:nth-child(2) {
  filter: blur(50px);
}

/* About Section CSS --------------------------------------------------------------------------*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 3em;
  background: var(--secon-bg-color);
}
.about .img-about img {
  max-width: 400px;
  height: auto;
}
.about-contant {
  display: flex;
  flex-direction: column;
}
.about-contant p {
  text-align: justify;
  padding: 0 0 2rem;
}
.about-contant h3 {
  padding-top: 2rem;
}

.about-contant .btn-box {
  width: auto;
  justify-content: center;
}

/* Services Section CSS --------------------------------------------------------------------------*/
.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}
.main-text h2 {
  font-weight: 700;
  font-size: var(--normal-font);
}
.main-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
}
.section-services .service-box {
  flex: 1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--secon-bg-color);
  transition: transform 0.4s;
  border-radius: 10px;
}
.service-box p {
  text-align: justify;
}
.service-btn {
  width: auto;
  justify-content: center;
}
.service-box:hover {
  transform: translateY(-0.7rem);
}
.service-icon {
  border: 2px solid var(--hover-color);
  padding: 2rem;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--bg-color);
}
.service-box h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}
.service-box p {
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
}

/* Skills Section CSS --------------------------------------------------------------------------*/
.skills {
  background: var(--secon-bg-color);
}

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}
.skill-bar {
  margin-bottom: 2.9rem;
}
.skill-main h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}
.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}
.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}
.skill-bar .info p {
  font-size: 20px;
  font-weight: 800;
}
.skill-bar .bar .html {
  width: 80%;
  animation: html 2s;
}
.skill-bar .bar .css {
  width: 75%;
  animation: css 3s;
}
.skill-bar .bar .c {
  width: 65%;
  animation: c 4s;
}
.skill-bar .bar .cplus {
  width: 55%;
  animation: cplus 5s;
}
.skill-bar .bar .python {
  width: 75%;
  animation: python 5s;
}
.skill-bar .bar .basic {
  width: 70%;
  animation: basic 5s;
}

/* Sills Right--------- */

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 10px 0;
  flex: 1 1 15rem;
}
.box .text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.box .text big {
  font: 400;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  top: 41%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.box .text small {
  display: block;
  font-weight: 600;
  font-size: 15px;
}
.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .points {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid var(--hover-color); /* Light cyan transparent border */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 0 10px var(--hover-color);
}

/* portfolio section------------------------------- */
.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.port-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
}
.port-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.port-image img {
  width: 100%;
  height: 100%;
  opacity: 0.5s;
  transition: 0.5s;
}
.port-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), #12f7ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  padding: 0 2rem;
}

.port-box:hover .port-content {
  opacity: 1;
}
.port-box:hover .port-image img {
  transform: scale(1.1);
}
.port-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.port-content p {
  font-size: 0.8rem;
  margin: 5px 0 15px 0;
}
.port-content a {
  background: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid var(--hover-color);
  outline: 2px solid#fff;
}
.port-content a i {
  font-size: 1.3rem;
  color: var(--secon-bg-color);
}

/* <Education section CSS---------------------------------*/
.education {
  background: var(--secon-bg-color);
}

.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
  align-items: stretch;
}
.year {
  margin-top: 1.19rem;
}
.education-container .education-box {
  padding: 2rem 1rem 0.4rem;
  flex: 1 1 18rem;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  transition: transform 0.4s;
}
.education-box:hover {
  transform: translateY(-0.7rem);
}
.education-box .standard h4 {
  font-size: 1.1rem;
  line-height: 1.19rem;
  color: var(--hover-color);
}

.education-box .education-content p {
  align-items: justify;
  margin: 1rem 0 1rem 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
}
.education-box .education-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education-content .percentage {
  border: 2px solid var(--hover-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 1.2rem;
  background: var(--secon-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 5px solid var(--secon-bg-color);
}

/* Contant section CSS----------------- */
.contact {
  width: 100%;
}
.contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
.contact form input,
.contact form textarea {
  width: 100%;
  color: var(--text-color);
  background: var(--secon-bg-color);
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}
.contact form textarea {
  resize: none;
}
.formbtn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.formbtn .btn {
  cursor: pointer;
  font-size: 1rem;
}

/* Footer CSS ------------ */
footer {
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  color: #bdbdbd;
}
footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  background: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}

/* Scalee------------------------------------------ */
.scroll-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}
.scroll-bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: 2s;
}
.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 2s;
}
.show-items {
  opacity: 1;
  transform: translateX(0);
}

/* keyframes--------------------------- */
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes cplus {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes basic {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes slideanimation {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* media  */
@media (max-width: 991px) {
  header {
    padding: 10px 5%;
  }
  footer {
    padding: 15px 5%;
  }
  section {
    padding: 50px 5%;
  }
  .navlist a {
    padding: 8px 15px;
  }
  :root {
    --big-font: 2.2rem;
    --normal-font: 1.8rem;
    --neon-box-shadow: 0 0 0.8rem #12f7ff;
    --h2-font: 3rem;
  }
  .home-content {
    margin-top: 5rem;
  }
  .social-icons {
    margin-top: 3.5rem;
  }
}

@media (max-width: 812px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  #menu-icon bx-x {
    transition: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0.5%;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .navlist.open {
    top: 100%;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .home-image {
    margin-bottom: 5rem;
  }
  .liquid-shape {
    width: 80%;
    left: 10%;
    top: 13%;
  }
  .about {
    flex-direction: column-reverse;
  }
  .skill-main {
    grid-template-columns: 1fr;
  }
  footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 80%;
  }
  footer p {
    font-size: 0.8rem;
  }
  .home-image {
    margin-bottom: 0.1rem;
  }
  .img-about img {
    width: 250px;
  }
  section p {
    font-size: 1.1rem;
  }
  section {
    padding: 80px 10%;
  }
  .social-icons a i {
    font-size: 2rem;
  }
  .img-box img {
    max-width: 250px;
  }
  .home {
    padding: 20px 6%;
    margin-bottom: 4rem;
  }
  .btn-box a {
    font-size: 1.2rem;
  }
  .port-box {
    height: 20rem;
  }
  .port-content h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  .port-content p {
    font-size: 1.2rem;
    margin: 2px 0 20px 0;
  }
  .port-content a {
    height: 60px;
    width: 60px;
  }
  .navlist li a {
    font-weight: 600;
  }
  .education-box .standard h4 {
    font-size: 1.2rem;
     line-height: 1.5rem;
  }
}
